body {
    margin: 0 20px;
    padding: 0;
}
.header {
    margin-top: 20px;
}

table.issues {
    width: 100%;
}
table.issues tr th {
    font-weight: normal;
    font-size: inherit;
    text-align: center;
}
table.issues td.icon {
    width: 20px;
    background-repeat: no-repeat;
    background-position: center;
}
table.issues tr.issue td.open {
    background-image: url(../images/issue.png);
}

table.issues tr.pull_request td.open {
    background-image: url(../images/pr.png);
}
table.issues tr.issue td.closed {
    background-image: url(../images/issue_closed.png);
}

table.issues tr.pull_request td.closed {
    background-image: url(../images/pr_closed.png);
}

table.issues {
    border-collapse: collapse;
}
table.issues th {
    text-align: right;
    font-size: 18pt;
}
table.issues td {
    padding: 0 5px;
}
table.issues td.updated, table.issues td.milestone {
    white-space: nowrap
}
table.issues td.author, table.issues td.assignee {
    text-align: right;
    padding: 0;
}
table.issues td.author img, table.issues img {
    max-width: inherit;
    width: 40px;
}
table.issues td.icon {
    background-color: white;
    border: none;
}
table.issues td.icon img {
    max-width: inherit;
    width: 20px;
}
table.issues td {
    border-bottom: solid black 1px;
}
table.issues tr.primary {
    background-color: lightblue;
}
table.issues tr.tooling {
    background-color: lightgreen;
}
table.issues tr.support {
    background-color: lightyellow;
}
table.issues tr.app {
    background-color: lightgray;
}
table.issues tr.misc {
    background-color: lightpink;
}
table.issues tr.port {
    background-color: sandybrown;
}
td.labels span {
    white-space: nowrap;
    border-radius: 3px;
    padding: 0 2px;
}
