.issue-meta-section {
    margin-right: 10px;
}
.task-progress {
    color: #999;
    text-decoration: none;
}

.task-progress-counts {
    display: inline-block;
    margin-right: 6px;
    margin-left: -2px;
    font-size: 12px;
}

.task-progress .progress-bar {
    display: inline-block;
    vertical-align: 2px;
    width: 300px;
    background-color: #eee;
    height: 5px;
}
.progress-bar {
    display: block;
    overflow: hidden;
    background-color: #eee;
    border-radius: 3px;
    height: 15px;
}

.progress-bar .progress {
    height: 100%;
    display: block;
    background-color: #6cc644;
}

.progress {
    background-image: none;
    width: 350px;
}

.issue .header .progress {
    float: right;
}

.progress-bar {
    background-image: none;
}

.milestone {
    margin: 10px 100px;
    border: solid 1px #333;
    border-radius: 2px;
    padding: 10px;
}

.issue .header {
    width: 80%;
}

.issue h3 img {
    width: 40px;
    border: 1px solid #333;
    border-radius: 3px;
}

.milestone p {
    font-size: 14pt;
}