body {
    font-size: 12pt;
    background-color: lightblue;
}

h2 {
    font-size: 26pt;
    font-weight: bold;
}
h3 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 20pt;
    text-decoration: underline;
}
h4 {
    font-size: 16pt;
}

#detail-filter {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12pt;
}
#detail-filter ul li {
    list-style: none;
}

.issue-meta-section {
    margin-right: 10px;
}
.task-progress {
    color: #999;
    text-decoration: none;
}

.task-progress-counts {
    display: inline-block;
    margin-right: 6px;
    margin-left: -2px;
    font-size: 12px;
}

.task-progress .progress-bar {
    display: inline-block;
    vertical-align: 2px;
    width: 300px;
    background-color: #eee;
    height: 5px;
}
.progress-bar {
    display: block;
    overflow: hidden;
    background-color: #eee;
    border-radius: 3px;
    height: 15px;
}

.progress-bar .progress {
    height: 100%;
    display: block;
    background-color: #6cc644;
}

.progress {
    background-image: none;
    width: 350px;
}

.issue .header .progress {
    float: right;
}

.progress-bar {
    background-image: none;
}

table.milestone {
    margin: 10px 100px 20px;
    border: solid 1px #333;
    border-radius: 4px;
    background-color: #FFF;
}
table.milestone td {
    padding: 0 20px;
}

table.milestone tr.issues > td > table > tbody > tr.issue > td {
    border-top: solid black 1px;
    padding: 10px;
}

table.milestone tr.issues > td > table > tbody > tr.issue:first-child > td {
    border-top: none;
}

table.milestone tr.issues > td > table {
    width: 100%;
}

.issue .header {
    width: 80%;
}

.issue h4 img {
    width: 40px;
    border: 1px solid #333;
    border-radius: 3px;
}

.milestone .description p {
    font-size: 16pt;
    margin-left: 20px;
}