<ul class="nav navbar-nav">
    <li id="state-filter" class="dropdown name-count"></li>
    <li id="type-filter" class="dropdown name-count"></li>
    <li id="milestone-filter" class="dropdown name-count"></li>
    <li id="repo-filter" class="dropdown name-count"></li>
    <li id="assignee-filter" class="dropdown name-count"></li>
    <li id="label-filter" class="dropdown name-count"></li>

    <li>
        <div class="input-group">
            <input id="text-search" type="text" class="form-control" placeholder="filter by text">
            <span id="clear-search" class="glyphicon glyphicon-remove input-group-addon"></span>
        </div>
    </li>

    <li class="dropdown affliction">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Affliction <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li><a href="">None</a></li>
            <li><a href="#affliction=old">Old Issues</a></li>
            <li><a href="#affliction=stale">Stale Issues</a></li>
        </ul>
    </li>

</ul>
