<style>
    table.issues {
        border-collapse: collapse;
    }
    table.issues td {
        padding: 0 5px;
    }
    table.issues th {
        font-size: 12pt;
        font-weight: normal;
    }
    table.issues td.updated, table.issues td.milestone {
        white-space: nowrap
    }
    table.issues td.user {
        text-align: right;
        padding: 0;
    }
    table.issues td img {
        max-width: inherit;
        width: 40px;
    }
    table.issues td.icon {
        background-color: white;
        border: none;
    }
    table.issues td.icon img {
        max-width: inherit;
        width: 20px;
    }
    table.issues td {
        border-bottom: solid black 1px;
    }
    table.issues tr.primary {
        background-color: lightblue;
    }
    table.issues tr.tooling {
        background-color: lightgreen;
    }
    table.issues tr.support {
        background-color: lightyellow;
    }
    table.issues tr.app {
        background-color: lightgray;
    }
    table.issues tr.misc {
        background-color: lightpink;
    }
    table.issues tr.port {
        background-color: sandybrown;
    }
    table.issues span.nowrap {
        white-space: nowrap
    }

</style>
<table class="issues">
    <thead>
    <tr>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    {{#each issues}}
    <tr class="{{type}}">
        <td class="icon">
            {{#if pull_request}}
            <img src="{{../../staticDir}}images/pr_{{state}}.png" title="pull request"/>
            {{else}}
            <img src="{{../../staticDir}}images/issue_{{state}}.png" title="issue"/>
            {{/if}}
        </td>
        <td class="title">
            <a href="{{html_url}}" target="_blank">
            {{title}}
            </a>
        </td>
        <td class="repo">
            <a href="https://github.com/{{repo}}" target="_blank">{{short_repo_name}}</a>
        </td>
        <td class="labels">
            {{#each labels}}
            <span style="background-color:#{{color}}">{{name}}</span>
            {{/each}}
        </td>
        <td class="milestone">
            {{#if milestone}}
                <a href="https://github.com/{{repo}}/issues?milestone={{milestone.number}}&state=open" target="_blank">
                {{milestone.title}}
                </a>
            {{/if}}
        </td>
        <td class="builds">
            {{#each builds}}
            <a href="{{html_url}}" target="_blank">
                <img src="{{../../staticDir}}images/travis-logo.png" title="Build {{id}}" class="{{cssClass}}" />
            </a>
            {{/each}}
        </td>
        <td class="author">
            <a href="https://github.com/{{user.login}}" target="_blank">
                <img src="{{user.avatar_url}}" title="created by {{user.login}}"/>
            </a>
        </td>
        <td>
            {{#if closed}}
            closed<br/><span class="nowrap">{{closed}}</span>
            {{else}}
            opened<br/><span class="nowrap">{{created}}</span>
            {{/if}}
        </td>
        <td class="updated">updated<br/><span class="nowrap">{{updated}}</span></td>
        <td class="user">
            <img src="{{assignee.avatar_url}}" title="assigned to {{assignee.login}}"/>
        </td>
    </tr>
    {{/each}}
    </tbody>
</table>
