<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{staticDir}}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{staticDir}}bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link href="{{staticDir}}css/style.css" rel="stylesheet" media="screen">
    <link href="{{staticDir}}css/issues.css" rel="stylesheet" media="screen">
</head>
<body>

<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="collapse navbar-collapse container-fluid" id="issue-filters"></div>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <h1>{{title}}</h1>
            </div>
        </div>
    </div>
</div>

<div id="powered-by">
    Powered by <a href="https://github.com/rhyolight/sprinter.js" target="_blank">sprinter</a> & <a
        href="https://github.com/rhyolight/travis-foreman" target="_blank">travis-foreman</a>.
</div>

<div class="modal fade" id="modal-loading" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Loading issues...</h4>
            </div>
            <div class="modal-body" align="center">
                <img src="{{staticDir}}images/haters_gonna_hate.gif"/>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <h2>Assigned Issues</h2>
        </div>
        <div class="col-md-6">
            <h2>Mentioned Issues</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div id="assigned-container"></div>
        </div>
        <div class="col-md-6">
            <div id="mentioned-container"></div>
        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars-v1.1.2.js"></script>
<script src="{{staticDir}}js/lib/async.js"></script>
<script src="{{staticDir}}js/lib/moment.min.js"></script>
<script src="{{staticDir}}bootstrap/js/bootstrap.min.js"></script>
<script src="{{staticDir}}js/issues.js"></script>
<script src="{{staticDir}}js/filter.js"></script>
<script>
    $(function() {
        var $loadingDialog = $('#modal-loading');
        $loadingDialog.modal({
            show: true
          , keyboard: false
        });
        $.getJSON('{{urlPrefix}}_issues/{{login}}', function(response) {
            var assigned = response.assigned.issues
              , mentioned = response.mentioned.issues
              , allIssues = assigned.concat(mentioned)
              , filterView
              , assignedIssuesView
              , mentionedIssuesView;

            filterView = new FilterView({
                elementId: 'issue-filters'
              , staticDir: '{{staticDir}}'
              , issues: allIssues
              , showAffliction: false
            }, function() {
                assignedIssuesView = new IssueView({
                    elementId: 'assigned-container'
                  , staticDir: '{{staticDir}}'
                  , urlPrefix: '{{urlPrefix}}'
                  , issues: assigned
                  , filter: filterView
                });
                assignedIssuesView.load();
                assignedIssuesView.setFilterView(filterView);

                mentionedIssuesView = new IssueView({
                    elementId: 'mentioned-container'
                    , staticDir: '{{staticDir}}'
                    , urlPrefix: '{{urlPrefix}}'
                    , issues: mentioned
                    , filter: filterView
                });
                mentionedIssuesView.load();
                mentionedIssuesView.setFilterView(filterView);

                $loadingDialog.modal('hide');
            });
        });
    });
</script>

</body>
</html>
