<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{staticDir}}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{staticDir}}bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" media="screen">
    <link href="{{staticDir}}css/style.css" rel="stylesheet" media="screen">
    <link href="{{staticDir}}css/roadmap.css" rel="stylesheet" media="screen">
</head>
<body>

<div class="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h1>{{title}}</h1>
            </div>
        </div>
    </div>
</div>

<div id="powered-by">
    Powered by <a href="https://github.com/rhyolight/sprinter.js" target="_blank">sprinter</a>.
</div>

<div class="modal fade" id="modal-loading" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Loading Road Map...</h4>
            </div>
            <div class="modal-body" align="center">
                <img src="{{staticDir}}images/haters_gonna_hate.gif"/>
            </div>
        </div>
    </div>
</div>

<div id="roadmap-container">
    {{#each milestones}}
        <div class="milestone">
            <h2><a href="issues#milestone={{title}}" target="_blank" title="click to see all {{title}} issues">{{title}}</a></h2>
            <div class="progress">
                <span class="issue-meta-section task-progress">
                    <span class="octicon octicon-checklist"></span>
                    <span class="task-progress-counts">{{tasksComplete}} of {{tasksTotal}}</span>
                    <span class="progress-bar">
                        <span class="progress" style="width: {{percentageDone}}%"></span>
                    </span>
                </span>
            </div>

            <div class="description">
                {{{html_description}}}
            </div>

            <h3>{{title}} Initiatives</h3>
            <ul>
            {{#each issues}}
                <li class="issue">
                    <h4>
                        <a href="{{assignee.html_url}}" target="_blank" title="assigned to {{assignee.login}}"><img src="{{assignee.avatar_url}}"/ alt="assigned to {{assignee.login}}"></a>
                        <a href="{{html_url}}" target="_blank">{{title}}</a>
                    </h4>
                    <div class="progress">
                        <span class="issue-meta-section task-progress">
                            <span class="octicon octicon-checklist"></span>
                            <span class="task-progress-counts">{{tasksComplete}} of {{tasksTotal}}</span>
                            <span class="progress-bar">
                                <span class="progress" style="width: {{percentageDone}}%"></span>
                            </span>
                        </span>
                    </div>
                    <p>{{{html_body}}}</p>
                </li>
            {{/each}}
            </ul>
        </div>
    {{/each}}
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="http://builds.handlebarsjs.com.s3.amazonaws.com/handlebars-v1.1.2.js"></script>
<script src="{{staticDir}}js/lib/async.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
<script src="{{staticDir}}bootstrap/js/bootstrap.min.js"></script>
<script>
    $(function() {
    });
</script>

</body>
</html>
