
{{#each milestones}}
<table class="milestone">
<tbody>

    <tr class="header">
        
        <td>
            <h2><a href="issues#milestone={{title}}" target="_blank" title="click to see all {{title}} issues">{{title}}</a></h2>
        </td>
        
        <td class="due">
            {{#if due_on}}
                <h3>Due: {{due_on}}</h3>
            {{/if}}
        </td>

        <td class="progress">
            <span class="issue-meta-section task-progress">
                <span class="octicon octicon-checklist"></span>
                <span class="task-progress-counts">{{tasksComplete}} of {{tasksTotal}} ({{percentageDone}}%)</span>
                <span class="progress-bar">
                    <span class="progress" style="width: {{percentageDone}}%"></span>
                </span>
            </span>
        </td>

    </tr>

    <tr class="description">
        <td colspan="3">
            <div class="description">
                {{{html_description}}}
            </div>
        </td>
    </tr>

    <tr class="initiatives">
        <td colspan="3">
            <h3>Major Initiatives</h3>
            <p>These are super issues that require many sub-tasks to be completed before they are achieved.</p>
        </td>
    </tr>

    <tr class="super-issues">

        <td colspan="3">

            <table>
            <tbody>
            {{#each superIssues}}
                <tr class="issue {{state}}">
                    <td>
                    <h4>
                        {{#if assignee}}
                            <a href="{{assignee.html_url}}" target="_blank" title="assigned to {{assignee.login}}">
                                <img src="{{assignee.avatar_url}}" alt="assigned to {{assignee.login}}"/>
                            </a>
                            {{else}}
                            <img src="{{../../../staticDir}}/images/unassigned.png">
                        {{/if}}
                        <a href="{{html_url}}" target="_blank">{{title}}</a>
                    </h4>
                    </td>
                    <td>
                    <div class="progress">
                        <span class="issue-meta-section task-progress">
                            <span class="octicon octicon-checklist"></span>
                            <span class="task-progress-counts">{{tasksComplete}} of {{tasksTotal}}</span>
                            <span class="progress-bar">
                                <span class="progress" style="width: {{percentageDone}}%"></span>
                            </span>
                        </span>
                    </div>
                    </td>
                </tr>
                <tr>
                    <td class="issue-body {{state}}" colspan="2">
                    {{{html_body}}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
            </table>

        </td>

    </tr>

    {{#if standAloneIssues}}
    <tr>
        <td colspan="3">
            <h3>Remaining Stand-Alone {{title}} Issues</h3>
            <p>These issues are not a part of the major initiatives show above. They are smaller tasks that can be completed or fixed individually.</p>
        </td>
    </tr>

    <tr class="stand-alone">
        <td colspan="3">
            <table>
            <tbody>
            {{#each standAloneIssues}}
                <tr class="issue {{state}}">
                    <td>
                        <a href="{{html_url}}">{{repo}}#{{number}}</a>
                    </td>
                    <td class="title">
                        {{title}}
                    </td>
                    <td class="avatar">
                        {{#if assignee}}
                            <a href="{{assignee.html_url}}" target="_blank" title="assigned to {{assignee.login}}"><img src="{{assignee.avatar_url}}" alt="assigned to {{assignee.login}}"/></a>
                        {{else}}
                            <img src="{{../../../../staticDir}}/images/unassigned.png">
                        {{/if}}
                    </td>
                    <td class="labels">
                        {{#each labels}}
                        <span style="background-color:#{{color}}">{{name}}</span>
                        {{/each}}
                    </td>
                </tr>
            {{/each}}
            </tbody>
            </table>
        </td>
    </tr>
    {{/if}}


</tbody>
</table>
{{/each}}
